{% extends 'layout.html' %} 

{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>内容修改</span></li>
</ol>
<h3>内容修改-{{content.title}}</h3>
<div class="container">
        <form action="/admin/content/edit" role="form" method="post">
            <div class="form-group">
                <input type="hidden" value="{{content._id.toString()}}" name="id">
                <label for="category">分类</label>
                <select name="category" id="category" class="form-control">
                    {% for category in categories %}
                    {% if category._id.toString()==content.category._id.toString() %}
                    <option value="{{category._id.toString()}}" selected>{{category.name}}</option>
                    {% else %}
                    <option value="{{category._id.toString()}}">{{category.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">

                <label for="title">内容标题:</label>
                <input id="title" type="text" class="form-control" placeholder="请输入内容标题"  name="title" value="{{content.title}}">
            </div>
            <div class="form-group">
                    <label for="description">内容简介:</label>
                    <textarea id="description" type="text" class="form-control" placeholder="请输入内容简介" name="description" rows="5">
                        {{content.description}}
                    </textarea>
            </div>
            <div class="form-group">
                <label for="content">内容</label>
                <textarea name="content" id="content" rows="30" class="form-control">
                    {{content.content}}
                </textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="form-control default btn-default" >
            </div>
        </form>
    </div>
<!-- 分页 -->
<!-- {%include 'page.html'%} -->
{% endblock %}